<ion-app>
  <!-- header for the Success page -->
  <ion-header translucent>
    <ion-toolbar color="primary">
      <ion-buttons>
        <ion-title text-center>Successfully Logged In </ion-title>
        <ion-button routerLink="/home">
          <ion-icon slot="end" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <!-- main content of the Home page -->
  <ion-content class="ion-padding">
    <ion-app>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome to Digital Summit 2K19</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen>
        <ion-card>
          <img style="max-width: 73%;" src="assets/imgs/DS19_logo.png">
          <ion-card-header>
            <ion-card-title> Digital Summit is back! Starting from this December 12th to 15th, 2019 in Visakhapatnam
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            DS19 is all set and waiting to mesmerize you with some great career-building opportunities that embody,
            technical talks on cutting-edge technologies by topnotch experts, a 24-hour coding battle, job fair, and a
            fun-filled entertaining event, Hungama
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-app>
  </ion-content>
</ion-app>