// page-home {
//     .txtNewUser {
//         color: #00aae7;
//     }
//     .lButton{
//         width: 105%;
//         text-transform: none;
//         background-color: #d33257
//     }
    

// }
    .lButton{
        width: 105%;
        text-transform: none;
        background-color: #d33257
    }
    //     .txtNewUser {
    //     color: #00aae7;
    // }
    itool{
        background-color: #d33257
    }